/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, html {
  background-color: lightgrey;
}

hr {
  border: 2px solid grey;
}

.posts {
  margin: 40px;
}

.posts legend {
  display: inline-table;
  width: 80%;
  margin: 0px;
  background-color: grey;
  box-sizing: border-box;
  font-size: 20px;
  color: orange;
}

.posts a.vote_up {
  float: right;
  border: 1px solid darkgrey;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  color: red;
  vertical-align: middle;
  background-color: whitesmoke;
}

.posts legend small {
  font-size: 20px;
  color: whitesmoke;
}